---
title: clients | propulsion
---

%section.gray
  .row
    .col-md-4.mobile-center
      %h2 Clients
    .col-md-8
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam rhoncus accumsan leo, nec congue risus feugiat ac. Mauris viverra ligula velit, sit amet imperdiet nunc tincidunt in. Ut tristique quam congue, aliquam tortor sit amet.

%section.top-line
  .row
    .col-md-12
      .filter-container.stick{'data-spy' => 'affix'}
        .filter-trigger Filters
        %ul.filters
          %li
            %button{'data-filter' => '*'} All
          %li
            %button{'data-filter' => '.titleleaf'} TitleLeaf
          %li
            %button{'data-filter' => '.folio'} Folio
  #grid.col-3
    = link_to 'http://midamericabooks.com', class: 'item transition titleleaf visible midamerica' do
      .caption
        %h5.extra October 2014
        .titles
          %h3.title MidAmerica Books
          %h4.subtitle MidAmerica Books chose TitleLeaf considering it’s long-standing history and custom features that address their book preview business model.
    = link_to 'http://abdopublishing.com', class: 'item transition titleleaf visible abdo' do
      .caption
        %h5.extra July 2014
        .titles
          %h3.title ABDO Publishing
          %h4.subtitle After testing a WordPress ecommerce solution, Abdo Publishing decided an application built for the unique needs of publishers was more appropriate.
    = link_to 'http://sleepingbearpress.com', class: 'item transition titleleaf visible sleepingbear' do
      .caption
        %h5.extra December 2012
        .titles
          %h3.title Sleeping Bear Press
          %h4.subtitle Showcasing the flexibility of titleleaf, we developed this site for Sleeping Bear Press following the structure and design of their pre-existing, static site.
    = link_to 'http://cherrylakepublishing.com', class: 'item transition titleleaf visible cherrylake' do
      .caption
        %h5.extra July 2008
        .titles
          %h3.title Cherry Lake Publishing
          %h4.subtitle Within one month they had a web application to syndicate data throughout the national network of resellers and a virtual storefront to facilitate credit card purchases from customers direct.
    = link_to 'http://mollyomara.com', class: 'item transition folio visible mollyomara' do
      .caption
        %h5.extra June 2010
        .titles
          %h3.title Molly O'Mara
          %h4.subtitle Although outside our normal client base, we jumped at the possibility of working with artist Molly O’Mara. Communicating her large-scale art via a website offered a unique challenge.
    = link_to 'http://childsworld.com', class: 'item transition titleleaf visible childsworld' do
      .caption
        %h5.extra March 2006
        .titles
          %h3.title The Child's World
          %h4.subtitle After years of modifying open-source ecommerce solutions to fit the unique needs of the educational publishing market, The Child’s World approached propulsion to develop TitleLeaf.
    = link_to 'http://bourgeoisdesign.co', class: 'item transition folio visible bourgeois' do
      .caption
        %h5.extra October 2012
        .titles
          %h3.title Bourgeois Interior Design
          %h4.subtitle Bourgeois Interior Design approached us based on the work we had done for their partners. The simplicity of folio was an immediate selling point.
