---
title: home
---

- content_for :splash do
  .slider
    %ul.slides
      %li.slide
        .jumbotron
          .bg.animated.chen-spread
          .content.vcenter
            .row
              .col-lg-6.col-lg-offset-3.text-center
                %h1.blocked web development
                %h1.blocked for book publishers
                = link_to 'More ↓', '#start', class: 'btn anchor blocked'
      %li.slide.dark
        .jumbotron
          .bg.faded.animated.chen-pages
          .content.vcenter
            .row
              .col-md-6.col-md-offset-3.text-center
                %h1 Profit from the <br />technology curve
                = link_to 'More ↓', '#start', class: 'btn anchor'
      %li.slide.dark
        .jumbotron
          .bg.faded.animated.chen-cover
          .content.vcenter
            .row
              .col-md-6.col-md-offset-3.text-center
                %h1 Hone your message <br />not the server
                = link_to 'More ↓', '#start', class: 'btn anchor'

%section#start.gray
  .content.row
    .col-md-6.col-md-offset-3
      %h2 propulsion
      %p Propulsion is a small development team that's been creating custom web applications for book publishers for more than a decade.
      %p
        = link_to 'Our Clients →', '/clients.html', class: 'more'
        = link_to 'About Us →', '/about.html', class: 'more'

%section.bg-dark
  .bg
  .row
    .col-md-8
      %blockquote.text-center A talent for technical details <br />and an eye for aesthetics.
